@import "tailwindcss";

@import "./daisy-slop.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
}

/* Minecraft-style pixelated images */
.pixelated {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
